.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.titles {
	display: flex;
	gap: 46px;
	align-items: center;
	justify-content: center;
	padding-top: 12px;
}

.titles a {
	cursor: pointer;
	position: relative;
	padding: 5px 10px; /* Добавляем немного внутреннего отступа для улучшения видимости */
	transition: all 0.3s ease;
}

.titles a.active {
	background-color: #a1adf5; /* Цвет заливки */
	border-radius: 19px; /* Скругленные углы */
}

.titles a:not(a.active):hover {
	transition: all 0s;
	width: max-content;
	border-radius: 16px;
	background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
}

.image {
	position: relative;
	overflow: hidden;
	width: 150px;
	height: 55px;
}

@media (min-width: 1953px) {
	.titles {
		font-size: 28px;
	}
	.image {
		width: 200px;
		height: 70px;
	}
}

@media (max-width: 767px) {
	.titles {
		font-size: 14px;
		gap: 7px;
		padding-top: 7px;
	}
	.image {
		width: 140px;
		height: 50px;
	}
	.nav {
		gap: 6px;
		margin: 0 40px;
	}
}

@media (min-width: 2560px) {
	.image {
		width: 200px;
		height: 70px;
	}
	.titles {
		font-size: 28px;
	}
}

@media (max-width: 450px) {
	.titles {
		font-size: 13px;
		text-align: center;
	}
	.image {
		display: none;
	}
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.titles {
		backdrop-filter: blur(10px);
		border-radius: 25px;
	}
}

@media (max-width: 397px) {
	.nav {
		margin: 0 20px;
	}
}
