.card {
	background-color: #16191c;
	color: #fff;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	border-radius: 64px;
	align-items: center;
	width: 1200px;
	padding: 15px;
}

.info {
	display: flex;
	padding: 50px;
	flex-direction: column;
	gap: 24px;
	padding-right: 107px;
}

.h1 {
	font-size: 53px;
	font-weight: bold;
}

.h2 {
	font-size: 16px;
	font-weight: 200;
	width: 480px;
	font-style: italic;
}

.h3 {
	font-size: 16px;
	width: 480px;
	font-weight: 100;
	color: #d8d9db;
}

.span {
	font-weight: bold;
	text-decoration: underline;
}

.imageContainer {
	width: 34%; /* Задайте ширину контейнера */
}

@media (max-width: 768px) {
	.card {
		width: 400px;
		flex-direction: column;
	}
	.h1,
	.h2,
	.h3 {
		text-align: center;
	}
	.h1 {
		font-size: 28px;
	}
	.h2,
	.h3 {
		font-size: 10px;
		width: 325px;
	}
	.info {
		gap: 0;
		padding: 0;
	}
}
