@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: white) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden; /* Отключаем прокрутку по горизонтали */
	margin: 0; /* Убираем отступы, чтобы избежать появления полосы прокрутки */
	padding: 0; /* Убираем отступы */
}
