.title {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 44px;
	margin-top: 50px;
	margin-bottom: 50px;
}

@property --bg-angle {
	inherits: false;
	initial-value: 0deg;
	syntax: '<angle>';
}

.image {
	border-radius: 16px;
	background: linear-gradient(
				to bottom,
				oklch(0.1 0.2 240 / 0.95),
				oklch(0.1 0.2 240 / 0.95)
			)
			padding-box,
		/* ends at inner border edges */
			conic-gradient(
				from var(--bg-angle) in oklch longer hue,
				oklch(0.85 0.37 0) 0 0
			)
			border-box; /* extends to outer border edges */

	/* a clear border lets the background gradient shine through */
	border: 5px solid transparent;
	animation: spin 2.5s infinite linear;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.image:hover {
	transform: scale(1.02) rotate(5deg); /* Увеличение и поворот изображения */
	filter: brightness(1.1) sepia(100%);
}

.notFoundImageDiv {
	margin-top: 100px;
	display: flex;
	width: 100%;
}

@keyframes spin {
	to {
		--bg-angle: 360deg;
	}
}

.container {
	display: flex;
	margin-top: 100px;
	flex-direction: column; /* Располагаем элементы по вертикали */
	min-height: 100vh; /* Минимальная высота контейнера равна высоте окна */
}

.notFoundImageDiv {
	flex-grow: 1; /* Основной контент занимает все доступное пространство */
	display: flex;
	justify-content: center; /* Центрируем изображение по горизонтали */
	align-items: center; /* Центрируем изображение по вертикали */
}

@media (min-width: 1920px) {
	.notFoundImageDiv {
		left: 980px;
		bottom: -80px;
	}
}

@media (max-width: 1373px) {
	.advantagesGrid {
		display: grid;
		justify-content: center;
		animation: none;
	}
}

@media (max-width: 767px) {
	.title {
		font-size: 20px;
	}
}
