.footer {
	margin-top: 80px;
	position: relative; /* Подвал как приклеенный */
	bottom: 0; /* Фиксация снизу */
	left: 0; /* К началу слева */
	right: 0; /* Без отступов справа */
	height: 111px; /* Задаем высоту */
	background-color: #252629;
	color: white;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.social {
	font-size: 28px;
	display: flex;
	align-items: center;
	gap: 22px;
}

.socialTitles {
	font-size: 28px;
	display: flex;
	align-items: center;
	gap: 22px;
	padding-right: 20px;
}

.zapret {
	justify-content: center;
}

.imageContainer1 {
	width: 34%; /* Задайте ширину контейнера */
	display: flex;
	margin-left: 25px;
	align-items: center;
}

.imageContainer2 {
	width: 100%; /* Задайте ширину контейнера */
}

.imageContainer3 {
	width: 100%; /* Задайте ширину контейнера */
}

@media (max-width: 768px) {
	.footer {
		height: 51px;
	}
	.a {
		font-size: 14px;
	}
	.imageContainer1 {
		width: 120px;
		margin-left: 10px;
		margin-bottom: 5px;
	}
	.imageContainer2 {
		width: 33px;
	}
	.imageContainer3 {
		width: 35px;
	}
	.social {
		gap: 5px;
	}
	.socialTitles {
		padding-right: 8px;
		gap: 11px;
	}
}

@media (max-width: 400px) {
	.imageContainer1 {
		margin-bottom: 5px;
	}
	.imageContainer2 {
		width: 25px;
	}
	.imageContainer3 {
		width: 30px;
	}
}

@media (min-width: 767px) {
	.imageContainer1 {
		width: 255px;
		margin-bottom: 10px;
	}
	.imageContainer2 {
		width: 55px;
	}
	.imageContainer3 {
		width: 55px;
	}
	.socialTitles {
		font-size: 30px;
	}
}

@media (min-width: 1953px) {
	.a {
		font-size: 38px;
	}
	.imageContainer1 {
		width: 300px;
		margin-left: 20px;
		margin-bottom: 7px;
	}
	.imageContainer2 {
		width: 63px;
	}
	.imageContainer3 {
		width: 65px;
	}
	.social {
		gap: 20px;
	}
	.socialTitles {
		padding-right: 25px;
		gap: 25px;
	}
}
