.footer {
	margin-top: 80px;
	position: relative; /* Подвал как приклеенный */
	bottom: 0; /* Фиксация снизу */
	left: 0; /* К началу слева */
	right: 0; /* Без отступов справа */
	height: 111px; /* Задаем высоту */
	background-color: #252629;
	color: white;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.social {
	font-size: 24px;
	display: flex;
	align-items: center;
	gap: 22px;
}

.socialTitles {
	font-size: 24px;
	display: flex;
	align-items: center;
	gap: 22px;
	padding-right: 20px;
}

.zapret {
	justify-content: center;
	padding: 20px;
}
