.explanation {
	display: grid;
	justify-items: center; /* Центрирование по горизонтали */
	align-items: center; /* Центрирование по вертикали */
	border-radius: 16px;
	background-color: #e5e8fc;
	padding: 40px;
	height: auto; /* Высота зависит от содержимого */
	margin: 0 auto; /* Центрирование по горизонтали */
	width: fit-content; /* Ширина будет адаптироваться под содержимое */
	grid-template-columns: 1fr; /* Автоматическая ширина под содержимое */
	max-width: 75%;
	justify-content: center;
	gap: 20px;
	margin-top: 73px;
}

@media (max-width: 1920px) {
	.explanation {
		max-width: 90vw;
	}
}
