.background {
	background-color: #1ebfbf;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	padding: 15px;
	align-items: center;
	border-radius: 16px;
	justify-content: space-between;
	justify-items: center;
}

.download {
	background-color: #252629;
	border-radius: 12px;
	padding: 16px;
}

.instruction {
	color: #16191c;
	font-weight: 700;
	display: flex;
	gap: 16px;
	align-items: center;
}

.image {
	position: relative;
	overflow: hidden;
	width: 38px;
	height: 38px;
}

@media (min-width: 2200px) {
	.instruction {
		font-size: 32px;
	}
	.image {
		width: 48px;
		height: 48px;
	}
}

@media (min-width: 1953px) {
	.background {
		font-size: 25px;
	}
}

@media (max-width: 1190px) {
	.background {
		margin-top: 15px;
	}
	.instruction {
		font-weight: 600;
	}
}

@media (max-width: 767px) {
	.background {
		padding: 7px;
		font-size: 10px;
	}
	.download {
		padding: 6px;
	}
	.instruction {
		font-weight: 500;
	}
	.image {
		width: 24px;
		height: 24px;
	}
}

@media (max-width: 397px) {
	.background {
		width: 90%;
	}
	.download {
		font-size: 10px;
		text-align: center;
		padding: 3px;
	}
}
